* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 1170px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-12 {
    display: flex;
    width: 100%;
}

.col-md-3 {
    display: flex;
    width: 25%;
}

.col-md-6 {
    display: flex;
    width: 50%;
}

/* header formatting */

.header-container {
    display: flex;
    background-color: #1d2126;
    height: 80px;
    justify-content: center;
    align-content: center;
}

.logo {
    width: 100%;
    margin: auto 0;
}

.menu {
    width: 100%;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.button {
    display: flex;
    height: 100%;
    width: 14%;
    justify-content: center;
    align-items: center;
}

.button a {
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #a4aead;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.home a {
    color: #39a493;
    border: 2px solid #39a493;
    border-radius: 5px;
}

.button a:hover {
    color: #a4aead;
    border: 2px solid #5b6168;
    border-radius: 5px;
}

.search {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input {
    width: 195px;
    height: 30px;
    margin-right: -15px;
    background: none;
    border: 2px solid #3c4147;
    border-radius: 5px;
    padding-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #a4aead;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: rgba(164, 174, 173, 1);
}

.search-icon {
    border: none;
    background: none;
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(images/icon\ \(1\).png);
    background-size: 150%;
    background-position: center;
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon:focus {
    outline: none;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

