* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 1170px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-12 {
    display: flex;
    width: 100%;
    height: 100%;
}

.col-md-3 {
    display: flex;
    width: 25%;
}

.col-md-6 {
    display: flex;
    width: 50%;
}

/* header formatting */

.header-container {
    display: flex;
    background-color: #1d2126;
    height: 80px;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.logo {
    width: 100%;
    margin: auto 0;
}

.menu {
    width: 100%;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.button {
    display: flex;
    height: 100%;
    width: 14%;
    justify-content: center;
    align-items: center;
}

.button a {
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #a4aead;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.button a:hover {
    color: #a4aead;
    border: 2px solid #5b6168;
    border-radius: 5px;
}

.home a:hover {
    color: #39a493;
    border: 2px solid #39a493;
    border-radius: 5px;
}

.search {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input {
    width: 195px;
    height: 30px;
    margin-right: -15px;
    background: none;
    border: 2px solid #3c4147;
    border-radius: 5px;
    padding-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #a4aead;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: rgba(164, 174, 173, 1);
}

.search-icon {
    border: none;
    background: none;
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(images/icon\ \(1\).png);
    background-size: 150%;
    background-position: center;
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon:focus {
    outline: none;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

/* main formatting */

/* cover */
.cover-container {
    display: flex;
    background-image: url(images/img\ \(2\).png);
    background-position: center;
    background-size: cover;
    height: 660px;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.cover-content {
    align-self: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cover-heading {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

.cover-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 30px;
}

.cover-buttons button {
    width: 125px;
    height: 45px;
    background: none;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    line-height: 43px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: -1px;
}

.cover-buttons button:last-child {
    margin-left: 5px;
}

.cover-buttons button:focus {
    background-color: #39a493;
    border: 2px solid #39a493;
    cursor: pointer;
    outline: none;
}

.cover-buttons button:hover {
    cursor: pointer;
}

.cover {
    flex-direction: column;
}

.radio {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.cov-sec-1 {
    height: 610px;
}

.cov-sec-2 {
    height: 50px;
}

.radio label:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    background: none;
    margin-left: 8px;
}

.radio input[type="radio"]:checked + label:before {
    background-color: #fff;
}

.radio input[type="radio"] {
    display: none;
}

/* about */
.about-container {
    display: flex;
    background-color: #fff;
    justify-content: center;
    margin: 0;
}

.about-heading {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #292f36;
    margin-bottom: 60px;
    margin-top: 80px;
    padding-left: 15px;
    border-left: 10px solid #e1e6ea;
}

.description {
    width: 58%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #8d8f92;
}

.description span {
    font-weight: bold;
}

.description p {
    margin-bottom: 42px;
    line-height: 24px;
}

.goals {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 7px;
}

.about {
    display: flex;
    flex-direction: column;
}

.goal-number {
    width: 67px;
}

.goal-description {
    width: 100%;
}

[class*="-goal"] {
    display: flex;
    margin-bottom: 34px;
}

.goal-number span {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    color: white;
    text-align: center;
    line-height: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.goal-description h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #292f36;
    margin-bottom: 10px;
}

.goal-description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #8d8f92;
    line-height: 24px;
}

.share-container {
    display: flex;
    flex-direction: row;
}

.share-container button {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    border: 1px solid white;
}

.share-container button:hover {
    cursor: pointer;
}

.share-container button:focus {
    outline: none;
    background-color: #d0d5d9;
    cursor: pointer;
}

.facebook {
    background-image: url(images/icon\ \(6\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(images/icon\ \(5\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.google {
    background-image: url(images/icon\ \(4\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.ball {
    background-image: url(images/icon\ \(3\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.be {
    background-image: url(images/icon\ \(2\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

/* media formatting */
@media (max-width:1170px) {
    .content {
        width: 100%;
    }
}

@media (max-width:768px) {
    .menu {
        width: 1000px;
    }
}

@media (max-width:425px) {
    .header-container {
        height: fit-content;
    }
    .content {
        flex-direction: column;
        padding: 15px;
    }
    .col-md-6 {
        width: 100%;
    }
    .search {
        left: 80px;
    }

    .col-md-12 {
        flex-direction: column;
    }

    .description {
        width: 100%;
    }

    .goals {
        width: 100%;
    }

    .share-container {
        justify-content: center;
        margin-bottom: 15px;
    }
    
    .cover-buttons {
        display: flex;
        margin: 0;
        justify-content: center;
    }
}

@media (max-width:375px) {
    .col-md-6 {
        width: 400px;
    }

    header {
        width: 425px;
    }

    .content {
        width: 425px;
    }

    .cover-container {
        width: 425px;
    }
}