* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* header-formatting */
.header {
    background-color: #1d2126;
    position: sticky;
    top: 0;
}

.menu {
    justify-content: center;
}

.menu nav a {
    color: #a4aead;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}

.menu a:hover {
    color: #a4aead;
    border: 2px solid #5b6168;
    border-radius: 5px;
}

.menu a:focus {
    color: #39a493;
    border: 2px solid #39a493;
    border-radius: 5px;
}

.search {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input {
    width: 195px;
    height: 30px;
    margin-right: -15px;
    background: none;
    border: 2px solid #3c4147;
    border-radius: 5px;
    padding-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #a4aead;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: rgba(164, 174, 173, 1);
}

.search-icon {
    border: none;
    background: none;
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(images/icon\ \(1\).png);
    background-size: 150%;
    background-position: center;
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon:focus {
    outline: none;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

/* main-formatting */

.slider-row {
    flex-direction: column;
}

.slider {
    display: flex;
    background-image: url(images/img\ \(2\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-row {
    height: 100%;
}

.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-radio {
    display: flex;
    justify-content: flex-end;
}

.cover-heading {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

.cover-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 30px;
}

.cover-buttons button {
    width: 125px;
    height: 45px;
    background: none;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    line-height: 43px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: -1px;
}

.cover-buttons button:last-child {
    margin-left: 5px;
}

.cover-buttons button:focus {
    background-color: #39a493;
    border: 2px solid #39a493;
    cursor: pointer;
    outline: none;
}

.cover-buttons button:hover {
    cursor: pointer;
}

.slider-radio label:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    background: none;
    margin-left: 8px;
}

.slider-radio input[type="radio"]:checked + label:before {
    background-color: #fff;
}

.slider-radio input[type="radio"] {
    display: none;
}

.about-row {
    flex-direction: column;
}

.description-row {
    display: flex;
}

.about {
    background-color: #fff;
    padding-bottom: 100px;
}

.about-heading {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #292f36;
    margin-bottom: 60px;
    margin-top: 80px;
    padding-left: 15px;
    border-left: 10px solid #e1e6ea;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #8d8f92;
}

.description span {
    font-weight: bold;
}

.description p {
    margin-bottom: 42px;
    line-height: 24px;
}

.goals {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 7px;
}

.goal-number {
    width: 67px;
}

.goal-description {
    width: 100%;
}

[class*="-goal"] {
    display: flex;
    margin-bottom: 34px;
}

.goal-number span {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    color: white;
    text-align: center;
    line-height: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.goal-description h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #292f36;
    margin-bottom: 10px;
}

.goal-description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #8d8f92;
    line-height: 24px;
}

.share-container {
    display: flex;
    flex-direction: row;
}

.share-container button {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    border: 1px solid white;
}

.share-container button:hover {
    cursor: pointer;
}

.share-container button:focus {
    outline: none;
    background-color: #d0d5d9;
    cursor: pointer;
}

.facebook {
    background-image: url(images/icon\ \(6\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(images/icon\ \(5\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.google {
    background-image: url(images/icon\ \(4\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.ball {
    background-image: url(images/icon\ \(3\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.be {
    background-image: url(images/icon\ \(2\).png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.team {
    background-color: #fff;
    padding-bottom: 100px;
    border-top: 1px solid #dde1e4;
}

.team-row {
    flex-direction: column;
}

.members-row {
    display: flex;
}

.team-heading {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #292f36;
    margin-bottom: 60px;
    margin-top: 80px;
    padding-left: 15px;
    border-left: 10px solid #e1e6ea;
}

[class*="member-"] {
    display: flex;
    width: 263px;
    flex-direction: column;
    align-items: center;
}

.member-describtion {
    background-color: #e1e6ea;
    padding: 20px;
}

.member-name {
    color: #292f36;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.member-position {
    color: #8d8f92;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

[class*="member-"]:hover .member-describtion>.member-name {
    color: white;
}

[class*="member-"]:hover .member-describtion>.member-position {
    color: white;
}

[class*="member-"]:hover .member-describtion {
    background-color: #3a454d;
}

[class*="member-"]:hover {
    cursor: default;
}

[class*="member-"]:hover .member-photo > img {
    background-color: grey;
    opacity: 0.4;
}

.social-member {
    position: absolute;
    width: 263px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-member button {
    background-color: #3a454d;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 1px;
    display: none;
}

.social-member button:last-child {
    margin: 0;
}

.in {
    background-image: url(images/icon\ \(7\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

[class*="member-"]:hover .social-member>button {
    display: block;
}

.social-member button:hover {
    background-color: #4e5a62;
    cursor: pointer;
}

/* ADAPTIVITY */
/* tablet */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-7 {
        flex: 0 0 58.3%;
        max-width: 58.3%;
    }

    .col-md-5 {
        flex: 0 0 41.6%;
        max-width: 41.6%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .header-row {
        height: 80px;
        align-items: center;
    }

    .menu nav {
        display: flex;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 14%;
        height: 30px;
        border: 1px solid transparent;
        margin-right: 5px;
        margin-left: 5px;
    }

    .slider {
        height: 100vh;
    }

    .slider-content {
        max-height: 92.5%;
        max-width: 60%;
    }

    .slider-radio {
        max-height: 7.5%;
    }

    .members-row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .member-describtion {
        margin-bottom: 20px;
    }
}

/* laptop */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .menu nav {
        padding-right: 100px;
    }

    .slider {
        height: 660px;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .members-row {
        flex-wrap: nowrap;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .member-describtion {
        margin-bottom: 0px;
    }
}

/* mobile */
@media (max-width: 767px) {
    .header-row {
        flex-direction: column;
        padding: 15px 0 15px 0;
    }

    .menu {
        margin: 15px 0 15px 0;
    }

    .slider {
        height:100vh;
    }

    .slider-content {
        max-height: 90%;
    }

    .slider-radio {
        max-height: 10%;
    }

    .description-row {
        flex-direction: column;
    }

    .goals {
        margin-top: 40px;
    }

    .members-row {
        flex-direction: column;
        align-items: center;
    }

    .member-describtion {
        margin-bottom: 20px;
    }
}